.body{
    margin: 0px;
}

ul{
    list-style: none;
    display: flex;
}

.card{
    margin: 10px;
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.logo{
    width: 45px;
    padding-left: 20px;
}

.mainButtom{
    background-color: #1bb76e;
    color: white;
    border: 0px;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 1px 1px green;
}

.mainButtom:hover{
    cursor: pointer;
    box-shadow: 2px 2px green;
    transform: scale(1.1);
}

.secondaryButtom{
    background-color: #66d8f5;
    color: white;
    border: 0px;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 1px 1px green;
}

.secondaryButtom:hover{
    cursor: pointer;
    box-shadow: 2px 2px rgb(47, 135, 146);
    transform: scale(1.1);
}

.buscar{
    background-color: white;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
}

.buscar > input{
    outline: none;
    border: 0px;
}

.buscar:focus-within{
    border: 2px solid rgb(79, 243, 79);
}

.contenedorImagen{
    display: flex;
    width: 300px;
    height: 350px;
    background-color: green;
    margin-bottom: 30px;
}

.contenedorImagen:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.contenedorImagen > img{
    object-fit:cover;
    width: 100%;
    border-radius: 10px;
}

.card{
    background-color: rgb(153, 204, 77);
    box-shadow: 10px 10px 5px rgb(204, 200, 200);
    border-radius: 10px;
}


.title{
    color: black;
    text-align: center;
    justify-content: center;
    font-size: x-large;
    margin: 10px;
    font-weight:bold;
}

.emoticones{
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

i.far.fa-comment{
    color:rgb(2, 10, 15);
    font-weight: bold;
}

i.far.fa-comment::before{
    color: white;
}

i.fas.fa-heart{
    color:rgb(3, 8, 12);
}

i.fas.fa-heart::before{
    color:crimson;
}

i.fas.fa-eye{
    color:rgb(0, 2, 3);
}

i.fas.fa-eye::before{
    color: black;
}

.titulo-principal{
    text-align: center;
    color: rgb(141, 137, 137);
}






