.body{
    margin: 0px;
}

ul{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.logo{
    width: 45px;
    padding-left: 20px;
}


